:root {
    --primary-green: hsl(75, 94%, 57%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-grey: hsl(0, 0%, 20%);
    --neutral-off-black: hsl(0, 0%, 8%);
    --neutral-dark-grey: hsl(0, 0%, 12%);
}

@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    font-family: Inter;
    background: var(--neutral-off-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: var(--neutral-white);
}

.content {
    background: var(--neutral-dark-grey);
    text-align: center;
    padding: 2rem;
    border-radius: 1.2rem;
}

.profile-avatar {
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    width: 7rem;
}

.avatar-info {
    color: var(--primary-green);
    font-weight: 600;
    margin-bottom: 2rem;
}

ul {
    padding: 0;
}

.link-text a {
    color: var(--neutral-white);
    text-decoration: none;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.link-text a:hover {
    color: var(--neutral-dark-grey);
}

.link-text {
    background: var(--neutral-grey);
    padding: 0;
    border-radius: 0.6rem;
}

.link-text:hover {
    background: var(--primary-green);
}

.social-links li:not(:last-child) {
    margin-bottom: 1rem;
}

.social-links li a {
    display: block;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 

}

@media screen and (min-width: 43.75em) {
    .content {
        min-width: 25dvw;
    }
}

.attribution a { 
    color: var(--primary-green); 
    text-decoration: none;
}

.attribution a:hover {
    color: var(--neutral-white);
}

